
.navbar{
    background-color: #2b195f;  
}

a{
    color: white;    
}

.quem-somos{
    background-color: rgb(61, 41, 99);
    color: white;    
}

.bg-footer{
    background-color: #000;
    color: white; 
}

